<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>@<%=@follower.identity%> te está siguiendo en TweetBook</h1>
    <p>
      ¡Sigue enviando tweets para conseguir más seguidores!
    </p>
    <p>¡Que tengas un buen día!</p>
  </body>
</html>