<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>@<%=@mentioner.identity%> te ha mencionado en TweetBook</h1>
    <p>
      ¡Sigue interactuando con la gente!
    </p>
    <p>¡Que tengas un buen día!</p>
  </body>
</html>