<div id="is500" class="mainContainer">
	<div class="row-fluid">
		<div class="span11">
			<h1>Parece que en este momento no estamos</h1>
			<h2>(Cruza los dedos e inténtalo otra vez)</h2>
			<img src="/images/500.gif" alt="500"/>
		</div>
	</div>
</div>
