<div id="is404" class="mainContainer">
	<div class="row-fluid">
		<div class="span11">
			<h1>Lo sentimos, ยก<%=@errorPage%> no existe!</h1>
			<h2>(pero te seguimos queriendo)</h2>
			<img src="/images/404_<%=Random.new.rand(1..4)%>.jpg" alt="404"/>
		</div>
	</div>
</div>
