body {
	padding-top: 60px;
	padding-bottom: 40px;
}

body.login {
	background-color: #6C009E;
}

/****************************** LOGIN *********************/

/*Parte Izquierda*/

.front-card .front-welcome {
    background: url("http://lorempixel.com/520/380/people/") no-repeat scroll left top #000;
    border: 0 none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 125px rgba(255, 255, 255, 0.35);
    display: block;
    height: 372px;
    left: 0;
    position: absolute;
    top: 0;
    width: 520px;	
    border-radius: 6px;
} 

.front-card {
    left: 50%;
    top: 50%;
    position: absolute;
    width: 838px;
    margin: -154px 0 0 -418px;
}

.front-card .text-input {
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 0 #EEEEEE inset, 0 1px 0 #FFFFFF;
}

.front-welcome-text {
    bottom: 0;
    color: #EEEEEE;
    font-size: 20px;
    font-weight: 300;
    left: 0;
    line-height: 22px;
    padding: 20px;
    position: absolute;
    text-align: left;
    text-shadow: 0 1px 2px #000000;
    width: 470px;
}

.front-welcome-text h1 {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 3px;
}

/* Login & Signup Forms layout */

.front-signin {
    height: 108px;
    left: 536px;
    position: absolute;
    top: 0;
    width: 300px;
}
.front-signup {
    height: 250px;
    left: 536px;
    position: absolute;
    top: 121px;
    width: 300px;
}

.front-welcome, .front-signin, .front-signup {
    border-radius: 4px 4px 4px 4px;
}

.front-signup .signup {
    padding: 0;
}

.front-signin, .front-signup {
	background:#EABF09;
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#EABF09),color-stop(100%,#D36702));
	background:-webkit-linear-gradient(top,#EABF09 0,#D36702 100%);
	background:-moz-linear-gradient(top,#EABF09 0,#D36702 100%);
	background:-ms-linear-gradient(top,#EABF09 0,#D36702 100%);
	background:-o-linear-gradient(top,#EABF09 0,#D36702 100%);
	background:linear-gradient(top,#EABF09 0,#D36702 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#EABF09',endColorstr='#D36702',GradientType=0);
    border-bottom: 1px solid #D36702;
    border-left: 1px solid #D36702;
    border-right: 1px solid #D36702;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.tweetBookButton:hover,.tweetBookButton[disabled] {
	background-color: #6C009E;
}

.tweetBookButton {
	background-color: #AC23EB;
	background-image: -moz-linear-gradient(top, #AC23EB, #6C009E);
	background-image: -ms-linear-gradient(top, #AC23EB, #6C009E);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#AC23EB), to(#6C009E));
	background-image: -webkit-linear-gradient(top, #AC23EB, #6C009E);
	background-image: -o-linear-gradient(top, #AC23EB, #6C009E);
	background-image: linear-gradient(top, #AC23EB, #6C009E);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#AC23EB', endColorstr='#6C009E', GradientType=0);
	border-color: #6C009E #6C009E #6C009E;
	color: #FFF;	
}


/* Login form */

#login {
	padding: 10px;
}

#login input {
	color:#F00;
}

#login input:active {
	border-color: #6C009E;
}

#login #session_email {
	height:20px;
	width:266px;
}

#login #session_password {
    width: 70%;
}

#login #entrar {
	height:30px;
	float:right;
	color: #FFF;
}


.remember {
    left: 12px;
    margin: 0;
    position: absolute;
    top: 82px;
    width: 276px;
}

.front-signin .password-signin {
    left: 10px;
    margin: 0;
    position: absolute;
    top: 48px;
    width: 276px;
}

/* Signup form */

.front-signup h2 {
    border-bottom: 1px solid #B787C8;
    box-shadow: 0 1px 0 #B787C8;
    color: #6C009E;
    display: block;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 10px;
    padding: 5px 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}

.campos input{
	height: 20px;
	width: 266px;
	margin-left: 10px;
}

#registrar {
	float:right;
	margin-right:15px;
	height:30px;
}

/******************** FIN LOGIN ****************/

/**************** FOOTER *******************/ 

.inline-list {
    margin-left: 0;
}
.inline-list li {
    display: inline;
}

.inline-list li a {
	color: #FFFFFF;
}

.container .footer {
    bottom: 30px;
    position: absolute;
    color: rgba(255, 255, 255, 0.15);
    font-size: 11px;
    text-align: center;
    width:60%;
}
.container .footer a {
    color: #EABF09;
}

.container .footer ul {
    display: inline-block;
    margin-left:auto;
    margin-right:auto;
}
.container .footer a:hover {
    color: #FFF;
    text-decoration: none;
}
.container .footer li {
    display: inline;
    margin: 0 3px;
}
.front-container .footer .divider {
    display: none;
}


/******************* FIN FOOTER ****************/

/******************* DEBUG PARAMS ***************/

.debug_dump {
	position:absolute;
	bottom: 10px;
	margin-left: 200px;
}

/****************** FIN DEBUG PARAMS ******************/



/*
 * 			PAGINA REGISTRO
 */

#signup-wrapper{
	display:block;
	width:585px;
	clear:both;
	margin: 0 auto 10px;
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, .1);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
#signup-wrapper h1{
	padding:40px 0 20px 0;
	margin-left:30px;
	clear:both;
	color: #333;
	display: block;
	font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 24px;
}

.field {
	margin-left: 30px;
}

.field input{
	width:400px;
	height:20px;
}
.field label{
	float: right;
	margin-right: 60px;
	line-height: 28px;
}

#user_submit {
	width: 410px;
	margin: 10px 0 0 30px;
	padding: 5px;
	padding: 7px 0;
	color: #333;
	font-weight: bold;
	background-color: #FFEC46;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear,left top,left bottom,from(#FFEC46),to(#FA2));
	background-image: -moz-linear-gradient(#FFEC46,#FA2);
	background-image: -ms-linear-gradient(#FFEC46,#FA2);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFEC46),color-stop(100%,#FA2));
	background-image: -webkit-linear-gradient(#FFEC46,#FA2);
	background-image: -o-linear-gradient(#FFEC46,#FA2);
	background-image: linear-gradient(#FFEC46,#FA2);
	border-color: #FD9D00;
	
}
	
	
#user_submit:hover{	
	background-color: #FA2;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear,left top,left bottom,from(#FFEC46),to(#F09600));
	background-image: -moz-linear-gradient(#FFEC46,#F09600);
	background-image: -ms-linear-gradient(#FFEC46,#F09600);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFEC46),color-stop(100%,#F09600));
	background-image: -webkit-linear-gradient(#FFEC46,#F09600);
	background-image: -o-linear-gradient(#FFEC46,#F09600);
	background-image: linear-gradient(#FFEC46,#F09600);
	background-position: 0 0;
	border-color: #ED9200;
}

/*
 * 		ERRORES DE REGISTRO
 */

#error_explanation{
	margin: 30px;
}

#error_explanation ul li {
	color:#FF0000;
	list-style-image: url('https://si0.twimg.com/a/1334853862/phoenix/img/error.png');
}




