body {
	padding-top: 60px;
	padding-bottom: 40px;
	background-color: #6C009E;
}

body.login {
	background-color: #6C009E;
}


/****************************** LAYOUT GENERAL ***********************/

.gravatar {
	border-radius:5px;
}

.well {
	border: none;
}

a {
	color: #6C009E;
}
a:hover {
	text-decoration: underline;
	color: #6C009E;
}

.userInfo {
	margin-left:0px;
	margin-top:0px;
	width:785px;
}

.userInfo .userName {
	padding-bottom:10px;
	border-bottom: 1px solid #E6E6E6;
}

.userInfo p.userName {
	padding:1px;
	font-size: 15px;
	border:none;
	margin:0;
}

.userInfo .bio {
}

.userInfo .gravatar {
	border-radius:5px;
}

.userInfo .status {
	padding-left:5px;
}

.userInfo .operations {
	margin-left:60px;
	text-align:right;
}


.similares {
	
}

.similares .smallUser {
	
}

h1.title {
	padding-bottom:5px;	
}

span.desc {
	display:block;
	padding-bottom:10px;
	border-bottom: 1px solid #E6E6E6;	
}

.nav-pills .active a, .nav-pills .active a:hover {
	background-color: #6C009E;
}

.nav-pills li > a:hover {
	background-color: #EABF09;
}

.dropdown-menu li > a:hover {
	background-color: #6C009E;
}

.mainContainer {
	padding:0px 15px 15px 45px;
	border-radius: 10px;	
}

/* Estadisticas*/
.statsContainer {
	margin-top:10px;
}

.statsContainer .stats {
	list-style: none;
	margin-left: 0;
}

.statsContainer .stats li {
	display:inline;
	padding-right:2px;
	border-right: 1px solid #000;
}

.statsContainer .stats li a{
	padding-left:5px;
}

.statsContainer .stats li:last-child {
	border:none;
}
/****************************** FIN LAYOUT GENERAL *******************/


/****************************** HEADER *****************************/
ul.nav li.home {
	/*background-image:url('../images/icons/home.png'); 
	width:70px;
	text-align:right;*/
}

#brandImg {
    display: block;
    float: left;
    margin-left: -20px;
    margin-right: 5px;
    margin-top: 7px;
}
/***************************** FIN HEADER *************************/

/***************************** LOGIN HEADER *************************/
#loginArriba input[type=text], #loginArriba input[type=password] {
	width:120px;
	height: 13px;
}

#loginArriba input {
	margin-top:7px;
	height: 25px;
}
/****************************** FIN LOGIN HEADER ********************/


/****************************** LOGIN *********************/

/*Parte Izquierda*/

.front-card .i1{
	background: url("../images/welcome/1.jpg") no-repeat scroll left top #000;	
}

.front-card .i2{
	background: url("../images/welcome/2.jpg") no-repeat scroll left top #000;	
}

.front-card .i3{
	background: url("../images/welcome/3.jpg") no-repeat scroll left top #000;
}

.front-card .i4{
	background: url("../images/welcome/4.jpg") no-repeat scroll left top #000;
}

.front-card .i5{
	background: url("../images/welcome/5.jpg") no-repeat scroll left top #000;
}

.front-card .i6{
	background: url("../images/welcome/6.jpg") no-repeat scroll left top #000;
}

.front-card .i7{
	background: url("../images/welcome/7.jpg") no-repeat scroll left top #000;
}

.front-card .front-welcome {
    border: 0 none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 125px rgba(255, 255, 255, 0.35);
    display: block;
    height: 372px;
    left: 0;
    position: absolute;
    top: 0;
    width: 520px;	
    border-radius: 6px;
} 

.front-card {
    left: 50%;
    top: 50%;
    position: absolute;
    width: 838px;
    margin: -154px 0 0 -418px;
}

.front-card .text-input {
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 0 #EEEEEE inset, 0 1px 0 #FFFFFF;
}

.front-welcome-text {
    bottom: 0;
    color: #EEE;
    font-size: 20px;
    font-weight: 300;
    left: 20px;
    margin-bottom: 20px;
    line-height: 22px;
    padding: 20px;
    position: absolute;
    text-align: left;
    text-shadow: 0 1px 2px #000000;
    width: 430px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background: rgba(234,191,9,0.5);
}

.front-welcome-text h1 {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 3px;
}

/* Login & Signup Forms layout */

.front-signin {
    height: 108px;
    left: 536px;
    position: absolute;
    top: 0;
    width: 300px;
}
.front-signup {
    height: 250px;
    left: 536px;
    position: absolute;
    top: 121px;
    width: 300px;
}

.front-welcome, .front-signin, .front-signup {
    border-radius: 4px 4px 4px 4px;
}

.front-signup .signup {
    padding: 0;
}

.front-signin, .front-signup {
	background:#EABF09;
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#EABF09),color-stop(100%,#D36702));
	background:-webkit-linear-gradient(top,#EABF09 0,#D36702 100%);
	background:-moz-linear-gradient(top,#EABF09 0,#D36702 100%);
	background:-ms-linear-gradient(top,#EABF09 0,#D36702 100%);
	background:-o-linear-gradient(top,#EABF09 0,#D36702 100%);
	background:linear-gradient(top,#EABF09 0,#D36702 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#EABF09',endColorstr='#D36702',GradientType=0);
    border-bottom: 1px solid #D36702;
    border-left: 1px solid #D36702;
    border-right: 1px solid #D36702;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.tweetBookButton:hover,.tweetBookButton[disabled] {
	background-color: #6C009E;
}

.tweetBookButton {
	background-color: #AC23EB;
	background-image: -moz-linear-gradient(top, #AC23EB, #6C009E);
	background-image: -ms-linear-gradient(top, #AC23EB, #6C009E);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#AC23EB), to(#6C009E));
	background-image: -webkit-linear-gradient(top, #AC23EB, #6C009E);
	background-image: -o-linear-gradient(top, #AC23EB, #6C009E);
	background-image: linear-gradient(top, #AC23EB, #6C009E);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#AC23EB', endColorstr='#6C009E', GradientType=0);
	border-color: #6C009E #6C009E #6C009E;
	color: #FFF;	
}


.tweetBookLink:hover {
	background-color: #6C009E;
}

.tweetBookLink {
	background-color: #AC23EB;
	background-image: -moz-linear-gradient(top, #AC23EB, #6C009E);
	background-image: -ms-linear-gradient(top, #AC23EB, #6C009E);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#AC23EB), to(#6C009E));
	background-image: -webkit-linear-gradient(top, #AC23EB, #6C009E);
	background-image: -o-linear-gradient(top, #AC23EB, #6C009E);
	background-image: linear-gradient(top, #AC23EB, #6C009E);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#AC23EB', endColorstr='#6C009E', GradientType=0);
	border-color: #6C009E #6C009E #6C009E;
}

::-webkit-input-placeholder {
    color: rgba(108,0,158,0.5);
}
:-moz-placeholder {
    color: rgba(108,0,158,0.5);
}

/* Login form */

#login {
	padding: 10px;
}

#login input {
	color:#D36702;
}

/*#login input:active {
	border-color: #6C009E;
}*/

#login #session_email {
	height:20px;
	width:266px;
}

#login #session_password {
    width: 70%;
}

#login #entrar {
	height:30px;
	float:right;
	color: #FFF;
}


.remember {
    left: 12px;
    margin: 0;
    position: absolute;
    top: 82px;
    width: 276px;
}

.front-signin .password-signin {
    left: 10px;
    margin: 0;
    position: absolute;
    top: 48px;
    width: 276px;
}

/* Signup form */

.front-signup h2 {
    /*border-bottom: 1px solid #999;
    box-shadow: 0 1px 0 #6C009E;*/
    color: #6C009E;
    display: block;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 10px;
    padding: 5px 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}

.campos input{
	height: 20px;
	width: 266px;
	margin-left: 10px;
	color: #D36702;
}

#registrar {
	float:right;
	margin-right:15px;
	height:30px;
}

/******************** FIN LOGIN ****************/

/**************** FOOTER LOGIN *******************/ 

.inline-list {
    margin-left: 0;
}
.inline-list li {
    display: inline;
}

.inline-list li a {
	color: #FFFFFF;
}

.container .footer {
    bottom: 30px;
    position: absolute;
    color: rgba(255, 255, 255, 0.15);
    font-size: 11px;
    text-align: center;
    width:65%;
}
.container .footer a {
    color: #EABF09;
}

.container .footer ul {
    display: inline-block;
    margin-left:auto;
    margin-right:auto;
}
.container .footer a:hover {
    color: #FFF;
    text-decoration: none;
}
.container .footer li {
    display: inline;
    margin: 0 3px;
}

.copyright {
	color: rgba(255,255,255,0.4);
}
.front-container .footer .divider {
    display: none;
}


/******************* FIN FOOTER LOGIN ****************/

/****************** FOOTER ***********************/

#footer {
	text-align:center;
	height:30px;
	margin-bottom:0;
	padding-bottom:0;
}

#footer ul {
	list-style-type: none;
}

#footer ul li {
	display:inline;
	margin-right:5px;
}

#footer a:hover {
    color: #FFF;
    text-decoration: none;
}

#footer a {
    color: #EABF09;	
}

/****************** FIN FOOTER ******************/

/******************* DEBUG PARAMS ***************/

.debug_dump {
	position:absolute;
	bottom: 10px;
	margin-left: 200px;
}

/****************** FIN DEBUG PARAMS ******************/



/*
 * 			PAGINA REGISTRO
 */

#signup-wrapper{
	display:block;
	width:585px;
	clear:both;
	margin: 0 auto 10px;
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, .1);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
#signup-wrapper h1{
	padding:40px 0 20px 0;
	margin-left:30px;
	clear:both;
	color: #333;
	display: block;
	font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 24px;
}

.field {
	margin-left: 30px;
}

.field input{
	width:400px;
	height:20px;
}
.field label{
	float: right;
	margin-right: 60px;
	line-height: 28px;
}

#user_submit {
	width: 410px;
	margin: 10px 0 0 30px;
	padding: 5px;
	padding: 7px 0;
	color: #333;
	font-weight: bold;
	background-color: #FFEC46;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear,left top,left bottom,from(#FFEC46),to(#FA2));
	background-image: -moz-linear-gradient(#FFEC46,#FA2);
	background-image: -ms-linear-gradient(#FFEC46,#FA2);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFEC46),color-stop(100%,#FA2));
	background-image: -webkit-linear-gradient(#FFEC46,#FA2);
	background-image: -o-linear-gradient(#FFEC46,#FA2);
	background-image: linear-gradient(#FFEC46,#FA2);
	border-color: #FD9D00;
	
}
	
	
#user_submit:hover{	
	background-color: #FA2;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear,left top,left bottom,from(#FFEC46),to(#F09600));
	background-image: -moz-linear-gradient(#FFEC46,#F09600);
	background-image: -ms-linear-gradient(#FFEC46,#F09600);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFEC46),color-stop(100%,#F09600));
	background-image: -webkit-linear-gradient(#FFEC46,#F09600);
	background-image: -o-linear-gradient(#FFEC46,#F09600);
	background-image: linear-gradient(#FFEC46,#F09600);
	background-position: 0 0;
	border-color: #ED9200;
}

/*
 * 		ERRORES DE REGISTRO
 */

#error_explanation{
	margin: 30px;
}

#error_explanation ul li {
	color:#FF0000;
	list-style-image: url('https://si0.twimg.com/a/1334853862/phoenix/img/error.png');
}


/********************** MICROPOST *********************/

.post {
	margin-bottom: 10px;
}

.feedTitle {
	padding-bottom:5px;
	border-bottom: 1px solid #E6E6E6;
	margin-bottom: 15px;
}

.post .avatar {
	width:50px;
}

.post .avatar img {
	border-radius:5px;
}

.postContent {
	width:416px;
	border: 1px solid #E6E6E6;
	margin-left: 60px;
	padding-left: 10px;
}

.postContent:hover {
	/*background-color: #E6E6E6;*/
	background:#EABF09;	
}

.postContent .timeStamp {
	color: #C0C0C0;
}

.postFrom .nub{
	background-image: url("../images/feed/comment-nub.png");
	background-repeat: no-repeat;
    content: "";
    display: block;
    height: 6px;
    left:-16px;
    top:-1px;
    width:6px;
    position: relative;
    vertical-align: top;
    width: 6px;	
}

.post.active .postContent {
	background:#EABF09;	
}

.post.active .postFrom .nub {
	background-image: url("../images/feed/comment-nub-hover.png");	
}

.post:hover .postFrom .nub{
	background-image: url("../images/feed/comment-nub-hover.png");
}

.postFrom {
	font-size: 1.3em;
}

.postFrom .userName {
	color: #D2D2D2;
	font-size: 12px;
}

.flash {
	padding-left:65px;
	padding-right:50px;
}

.postContent .video {
	text-align:center;
	margin:20px;
}

.postContent .imagen {
	text-align:center;
	margin:20px;
}

/********************* FIN MICROPOST ******************/

/************************ HOME ***********************/

#home .publish .field{
	margin-left:0px;
	width: 242px;
}

#home .publish textarea {
	width:230px;
	max-width:230px;
	min-width:230px;
	height: 20px;
	min-height:20px;
	max-height:20px;
	/*height:90px;*/
	/*width:230px;*/
}

#home .actions {
	float:right;
	display:none;
}

#home .publish #micropost_submit {
	/*margin-left: 172px;*/
}

/************************* FIN HOME *****************/

/********************* EDITAR PERFIL ****************/

form.edit_user {
	margin-top:20px;
}

form.edit_user .field input{
	width:220px;
	height:20px;
	margin-left: 30px;
}

form.edit_user .field label {
	float:none;
	margin:5px;
	line-height:20px;
	min-width:100px;
	display:inline-block;
}

form.edit_user .actions #user_submit {
	width:100px;
	margin-left:242px;
	height:30px;
}

/********************* FIN EDITAR PERFIL ************/



/*************************** LISTADO DE USUARIOS ***************/
.users {
	list-style: none;
}

.users li {
	padding: 8px 15px;
	margin: 10px 0;
}

.users li:nth-child(odd) {
	background: rgba(50,50,50,0.1);
}
 
.users li:nth-child(odd):hover {
	background: rgba(50,50,50,0.3);	
}
 
.users li:nth-child(even) {
	background: rgba(50,50,50,0.3);
}
 
.users li:nth-child(even):hover {
	background: rgba(50,50,50,0.5);
}
/*************************FIN LISTADO DE USUARIOS ***************/

/************************ SIGNIN ******************************/
#signin .signinForm {
	border:none;
}

.signinForm .form {
	
}

.signinForm .field {
	margin: 5px 0px;	
}

.signinForm .actions {
}

.signinForm .form h1 {
	font-size: 25px;
	margin-bottom:15px;
}
/************************ FIN SIGNIN **************************/


/************************* REPLY MODAL ************************/
#reply {
	width:500px;
}
#modalPostContent {
	margin:5px;
}

#modalPostContent textarea {
	width:96%;
	max-width:96%;
	min-width:96%;
	min-height:60px;
	max-height:60px;
	
}

#reply .modal-body {
	padding-bottom:0;
}

#reply .modalActions, #newTweet .modalActions {
	float:right;
	margin:0 14px;
}
/*********************** FIN REPLY MODAL **********************/

/*********************** 404 y 500 ************************/
#is404, #is500 {
	color:#FFF;
	margin-top:20px;
	text-align: center;
}

#is404 img, #is500 img {
	margin-top:20px;
	width:600px;
	border-radius:15px;
}
/********************* FIN 404 ***************/

/************** PAGINA ABOUT ****************/
#about {
	margin-top:20px;
	color:#FFF;
}

#about .text h1{
	text-align: center;
	margin-bottom: 40px;
}

#about .text p {
	font-weight:bold;
}

#about .text .brand {
	color: #EABF09;
	font-size: 20px;
	font-weight:bold;
}

ul.aboutGallery img {
    display: block;
    margin-bottom: 12px;
    width: 100px;	
}

ul.aboutGallery {
    margin-top:40px;
	list-style: none outside none;
}

ul.aboutGallery li {
	display:inline;
	line-height:18px;
}

ul.aboutGallery a:after {
	content: attr(title);
}

ul.aboutGallery a {
    color: #000000;
    font-weight: bold;
    display: inline;
    float: left;
    font-family: "Marker Felt",sans-serif;
    font-size: 13px;
    margin: 0 0 27px 30px;
    padding: 10px 10px 15px;
    text-align: center;
    text-decoration: none;
    width: auto;
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);        	
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
}
 
/* Rotate all even images 2 degrees */
ul.aboutGallery li:nth-child(even) a {
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
}
 
/* Don't rotate every third image, but offset its position */
ul.aboutGallery li:nth-child(3n) a {
	-webkit-transform: none;
	-moz-transform: none;
	position: relative;
	top: -5px;
}
 
/* Rotate every fifth image by 5 degrees and offset it */
ul.aboutGallery li:nth-child(5n) a {
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	position: relative;
	right: 5px;
}

ul.aboutGallery li a:hover {
	-webkit-transform: scale(1.25);
	-moz-transform: scale(1.25);
	position: relative;
	z-index: 5;
}

/* Add drop shadows and smooth out the transition (Safari only) */
ul.polaroids a {
	-webkit-transition: -webkit-transform .15s linear;
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}
 
/* On hover, darken the shadows a bit */
ul.polaroids a {
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);
}

/*************** FIN ABOUT ******************/
