<!-- MODAL-->
<div class="modal fade" id="delete-confirm">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
			<h3>¿Deseas borrar este tweet?</h3>
	</div>
	<div class="modal-footer">
		<%= link_to 'Borrar', '/microposts/id', method: :delete, :class => 'btn btn-danger' %>
		<a href="#" data-dismiss="modal" class="btn">Cancelar</a>
	</div>
</div> 