<%= form_for @micropost do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field" id="postContent">
    <%= f.text_area :content, :placeholder => "Publicar algo..." %>
  </div>
  <div class="actions">
  	<span id="charactersLeft">140</span>
    <%= f.submit "Publicar", :class => 'btn btn-primary tweetBookButton' %>
  </div>
<% end %>