<div id="about" class="span11 mainContainer">
	<div class="row-fluid">
		<div class="span11">
			<div class="text">
				<h1>¡Wow! ¡Una página entera sobre nosotros!</h1>
				<p>
					<span class="brand">TweetBook</span> nace como un proyecto para la
					asignatura de Desarrollo de Sistemas Informáticos en la Universidad de La Laguna,
					por	lo que es concebido de forma inicial con un objetivo totalmente académico. 
				</p>
				<p>
					Estos han sido los primeros pasos que hemos dado con <span class="brand">Ruby On Rails</span>.
					Se ha tratado de crear una red social usable, accesible, moderna y llamativa en la que cualquier usuario pueda
					compartir lo que piense y ponerse en contacto con otras personas con gustos afines.
				</p>
				<p>
					Para el desarrollo se han seguido principios de metodologías ágiles como <span class="brand">Scrum</span>
					o <span class="brand">Xp</span>.
				</p>
			</div>
			<ul class="aboutGallery">
				<li>
					<a href="http://twitter.com/cacogr" title="cacogr">
						<img src="https://api.twitter.com/1/users/profile_image/cacogr?size=bigger"/>
					</a>
				</li>
				<li>
					<a href="http://twitter.com/vivictormora" title="VivictorMora">
						<img src="https://api.twitter.com/1/users/profile_image/vivictormora?size=bigger"/>
					</a>
				</li>
				<li>
					<a href="http://twitter.com/llosimura" title="llosimura">
						<img src="https://api.twitter.com/1/users/profile_image/llosimura?size=bigger"/>
					</a>
				</li>
				<li>
					<a href="http://twitter.com/pedrojbilbao" title="PedroJBilbao">
						<img src="https://api.twitter.com/1/users/profile_image/pedrojbilbao?size=bigger"/>
					</a>
				</li>
				<li>
					<a href="http://twitter.com/jh0nsay" title="Jh0nsay">
						<img src="https://api.twitter.com/1/users/profile_image/jh0nsay?size=bigger"/>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
