<div id="ayuda" class="span11 mainContainer">
	<div class="row-fluid">
		<div class="span11">
			<div class="text">
				<h1>¡Bienvenido! ¿En qué podemos ayudarte?</h1>
				<p>
			        <span class="brand">Primeros pasos</span> 
        			<span>Primeros pasos, configuración de la cuenta, siguiendo, buscando, integración con Facebook...</span>
				</p>
				<p>
        			<span class="brand">¿Problemas?</span> 
       				<span>No se puede ingresar, confirmación del correo electrónico, Tweets desaparecidos, problemas de seguimiento, errores de búsqueda...</span>
				</p>
				<p>
        			<span class="brand">Reporta violaciones</span> 
        			<span>Cuentas comprometidas, informar de spam, violación de marcas registradas, suplantación, seguridad...</span>
				</p>
			</div>
			<ul class="aboutGallery">
				<li>
					<a href="http://twitter.com/cacogr" title="cacogr">
						<img src="https://api.twitter.com/1/users/profile_image/cacogr?size=bigger"/>
					</a>
				</li>
				<li>
					<a href="http://twitter.com/vivictormora" title="VivictorMora">
						<img src="https://api.twitter.com/1/users/profile_image/vivictormora?size=bigger"/>
					</a>
				</li>
				<li>
					<a href="http://twitter.com/llosimura" title="llosimura">
						<img src="https://api.twitter.com/1/users/profile_image/llosimura?size=bigger"/>
					</a>
				</li>
				<li>
					<a href="http://twitter.com/pedrojbilbao" title="PedroJBilbao">
						<img src="https://api.twitter.com/1/users/profile_image/pedrojbilbao?size=bigger"/>
					</a>
				</li>
				<li>
					<a href="http://twitter.com/jh0nsay" title="Jh0nsay">
						<img src="https://api.twitter.com/1/users/profile_image/jh0nsay?size=bigger"/>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>