<div id="footer" class="span11 mainContainer">
	<div class="row-fluid">
		<div class="span11">
		  <ul>
		    <li><a href="/about">Sobre nosotros</a><span class="dot divider"> &middot;</span></li>
		    <li><a href="/faq">Ayuda</a><span class="dot divider"> &middot;</span></li>
		    <li><a href="http://github.com/tagoro9/TweetBook-on-Rails" alt="Proyecto en github">Sigue el proyecto</a></li>
			<li><span class="copyright">© <%=Time.now.year%> TweetBook</span></li>
		  </ul>
		</div>
	</div>
</div>
