<div class="footer inline-list">
  <ul>
    <li><a href="/about">Sobre nosotros</a><span class="dot divider"> &middot;</span></li>
    <li><a href="//support.twitter.com">Ayuda</a><span class="dot divider"> &middot;</span></li>
  </ul>
</div>
